@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center align-content-center">
                <th>№</th>
                <th>Модель</th>
                <th>IP-адрес</th>
                <th>MAC-адрес</th>
                <th>Управляющий VLAN</th>
                <th>Серийный номер</th>
                <th>Инвентарный номер</th>
                <th>Дата покупки</th>
                <th>Дата установки</th>
                <th>Этаж, на котором стоит</th>
                <th>Комментарий</th>
                <th colspan="2">Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var commutator in ViewBag.Commutators){
            <tr>
                <td>@commutator.Id</td>
                <td>@commutator.Model</td>
                <td>@commutator.Ip</td>
                <td>@commutator.Mac</td>
                <td>@commutator.Vlan</td>
                <td>@commutator.SerialNumber</td>
                <td>@commutator.StockNumber</td>
                <td>@commutator.PurchaseDate</td>
                <td>@commutator.InstallationDate</td>
                <td>@commutator.InstallationFloor</td>
                <td>@commutator.Comment</td>
                <td>
                    <div class="row justify-content-around">
                            <form asp-controller="Commutator" asp-action="Edit" method="get" asp-route-id="@commutator.Id">
                                <button type="submit" class="col-sm-auto btn btn-primary">Редактировать</button>
                            </form>
                    </div>
                </td>
                <td>
                    <div class="row justify-content-around">
                            <form asp-controller="Commutator" asp-action="Delete" method="post" asp-route-id="@commutator.Id">
                                <button type="submit" class="col-sm-auto btn btn-primary">Удалить</button>
                            </form>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>